@model WebBanHang.Models.HangHoa

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết</h2>

<div>
    <h4>HangHoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã hàng hóa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaHH)
        </dd>

        <dt>
            Tên hàng hóa:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenHH)
        </dd>

        <dt>
            Hình ảnh:
        </dt>

        <dd>
            <img src="~/Images/@Model.HinhAnh" style="width:70px; height:100px;" />
        </dd>

        <dt>
            Giá:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            Đơn vị tính:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>

        <dt>
            Nơi sản xuất:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiSX)
        </dd>

        <dt>
            Nhóm hàng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhomHang.TenNhom)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.MaHH }) |
    @Html.ActionLink("Quay trở lại", "Index")
</p>
